.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.DialogsItem {
    padding: 10px;
}

.Dialog {
    margin-bottom: 10px;
}
.Dialog a {
    text-decoration: none;
}

.Dialog a:hover {
    color: gold;
}

.Active {
    color: white;
}

.Messages {
    padding: 10px;
}
