.container {
    list-style: none;
    display: flex;
    color: #003585;
    cursor: pointer;
}
.item {
    margin: 0 5px;
}

.item.current{
    padding: 0 5px;
    background-color: #149de1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
}
