.Button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.Button:disabled {
    opacity: 0.5;
}

.Button:enabled:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.text {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
