.wrapper {

}
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentPage {
    font-weight: bold;
    font-size: 20px;
    color: gold;
}

.pages:hover {
    cursor: pointer;
}

.pages {
    color: white;
    display: inline-block;
    margin: 0 5px;
}

.avaBlock {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 130px
}

.avaBlock a:hover {
    cursor: pointer;
}

.userBlock {
    display: flex;
    margin-bottom: 40px;
    padding: 30px;
}

.userPhoto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.userDescription {
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.rightBlock {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
}

.rightBlock span {
    color: #003585;
}

.rightBlock a {
    text-decoration: none;
    color: #ffffff;
}

.rightBlock a:hover {
    color: #149de1;
}

.avatar {
 width: 100px;
}

.avatar img {
    border: 3px solid #003585;
    margin-bottom: 10px;
}


