.NavBar {
    background-color: orange;
    grid-area: nav;
    padding: 10px;
}


.Links {
    display: flex;
    flex-direction: column;
}

.Links a {
    text-decoration: none;
    color: #fff;
}

.Active {
    color: blue!important;
}

.Links a:hover {
    color: red;
}
