.PostWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 365px;
}
.PostWrapper img {
    width: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

.postText {
    width: 300px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.likes {
    display: flex;
    align-items: center;
}

.count {
    margin-left: 5px;
}
