.App-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
"header header header"
"nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


.Header {
    grid-area: header;
    background-color: red;
}

.Header img {
    width: 20px;
}

.NavBar {
    background-color: orange;
    grid-area: nav;
}


.Content {
    background-color: blueviolet;
    grid-area: content;
}

.Content img {
    width: 100%;
}

.Links {
    display: flex;
    flex-direction: column;
}

.Links a {
    text-decoration: none;
    color: #fff;
}

.Links a:hover {
    color: red;
}
